*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary: #7749f8;
  --primary-light: #9775fa;
  --dark: #212529;
  --light: #f8f9fa;
  --gray: #868e96;
  --danger: #fa5252;
  --success: #40c057;
  --border: #e9ecef;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  font-family: sans-serif;
  background-color: #f1f3f5;
  color: var(--dark);
}

