@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color: #2b5876;
  --secondary-color: #4e4376;
  --weak-color: #fc8181;
  --medium-color: #fbd38d;
  --strong-color: #68d391;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat','sans-serif';
}

body{
  background: linear-gradient(45deg,var(--primary-color),var(--secondary-color));
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #333;
  padding: 20px;
}
